<head>
<script type="text/javascript">
function delayedRedirect(){
    window.location = "/books"
}
</script>
</head>
<body onLoad="setTimeout('delayedRedirect()', 3000)">

<p>A User story required a welcome page</p>
<h2 id='welcome-message'>You will be redirected shortly</h2>
</body>
